body {
	font: 400 16px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;	
	
}
.masthead{
	width: 100%;
	margin: 0 auto;
	
	color: #ddd;
	padding: 0;
}
.form{
	width: 35%;
	margin: 0 auto;
}
.masthead h1 {
	text-align: center;
	margin: 0;
	padding: 0;
}
a{
  color: #000;
  font-weight: lighter; 
}

 .weather{
	width: 35%;
	margin: 0 auto;
	color: #878787 !important;
}

.weather .main{
	font-size: 50px;
 }
 .weather-icon{
 	color: #6ac6f9!important;
	font-size: 70px!important;
 }
 
 #loader {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; 
    margin-top: -32px;  
    display: block;     
}
