<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/owfont-regular.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
<title>Compucorp Front End Developer task 1</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/controllers.js"></script>
</head>
<body>
<header class="masthead">
    <h1>Weather update</h1>
</header>
<div class="content" ng-app="WeatherApp">
    <div ng-controller="WeatherController">

    <!-- Form input -->
    <form name="form" ng-if="Country" class="form" ng-submit="FormSubmit()">
    <h5>Enter zip code or country</h5>
    <input type="text" name="zip" ng-model="Form.zip" placeholder="zipcode">
    <br><br>
    <select ng-model="Form.country" name="country">
    <option ng-repeat="country in Country"  value="{{country.code}}" required>{{country.name}}</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
    </form><!-- Form input -->

    <!-- Loader spinner -->
    <div id="loader" ng-show="loading">
    <img src="images/ajax-loader.gif" class="ajax-loader"/>
    </div>
    <!-- end of Loader spinner -->
    
    <!-- Weather feedback data -->
    <div ng-show="weatherdata" class="weather">
    <table>
    <tr class="main">
    <td><i class="weather-icon owf owf-{{weatherdata.weather[0].id}}-d"></i>{{weatherdata.weather[0].main}} 
    <span>{{ -272.15 + weatherdata.main.temp | number : 1 }}</span><sup>C</sup></td>
    </tr>
    <tr><td>Description: {{weatherdata.weather[0].description}}, {{weatherdata.clouds.all}}% Cloudiness</td></tr>
    <tr><td>Humidity: {{weatherdata.main.humidity}}%</td></tr>
    <tr><td>Wind speed: {{weatherdata.wind.speed}}mps</td></tr>
    <tr><td style="float:right;">{{weatherdata.name}}, {{weatherdata.sys.country}}</td></tr>
    <tr><td style="float:right;">{{today | date: "fullDate"}}</td></tr>
    </table>
    </div>
     <!--End of  Weather feedback data -->
    
    </div><!-- Controller-->
</div><!-- Weather App -->
</body>
</html>
